@charset "utf-8";

:root{
    --cor1: #222326;
    --cor2: #024873;
    --cor3: #B8BFA8;
    --cor4: #D99C79;
    --cor5: #A64B4B;
}

@font-face {
    font-family: Amnestiadistressed;
    src: url(fontes/Amnestiadistressed-K71lA.ttf);
}

@font-face {
    font-family: hampha;
    src: url(fontes/TheHampha-9Yyy5.ttf);
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    z-index: -3;
}

header{
    position: relative; 
    display: flex;
    flex-direction: row; /* define a direção se e linha ou coluna */
    /* control+espaço ver opçoes */
    background-color: black;

}

#header{
    display: flex;
    width: 80%;
    max-width: 1500px;
    margin: auto;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    font-family: Amnestiadistressed;
}

.logo{
    width: 300px;
    height: 75px;  /* altura */
    text-align: left;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    font-size: 25px;
    
    
}


nav {
    /*border: 2px solid black;*/
    display: flex; 
    /* margin-left: auto; */ 
    /* jogou a margin para esquerda */
    /*background-color: green;*/
}

/*nav > div{
    margin-left: 30px;
    margin: 5px;
}*/
a{
    text-decoration: none; /*remover linha abaixo dos linkes*/
    text-transform: uppercase; /*todas letras maiusculas*/
    width: 105px;
    height: 100%;
    color: white;
    display: flex;
    font-size: auto;
    align-items: center; /*centraliza na vertical*/
    justify-content: center; /*centraliza n horizontal*/
    padding: 0 15px 0 15px; /*10px na esquerda e 10px na direita*/

}

nav a:hover{
    background-color: #B8BFA8;
    
}

label[for='botao-menu'] {
    color: white;
    cursor: pointer;
    display: none;
 
}

#botao-menu{
    display: none;
}

main{
    height: 540px;
    position: relative;
    width: 90%;
    top: -20px;
    max-width: 1500px;
    height: auto;
    margin: 0 auto 50px auto;   
    background-color: white;  
    border-top: 3px solid var(--cor4);
    box-shadow: 1px/*horizontal*/ 2px/*vertical*/ 2px 2px rgba(0, 0, 0, 0.3);
}

main > div{
    position: relative;
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}

.main-section{
    height: 400px;
    padding: 5px 10px 0 10px;
         /*top, direita, baixo, esquerda*/
    width: 90%;
    max-width: 95%;
    margin: 30px auto 40px auto;   
    border-top: 3px solid var(--cor4); 
    font-size: 17px;
    font-family: tahoma;
    text-align: center;
   
        

}


#sobre{
    padding: 10px;
    
    margin-bottom: 10px;
}


.main-section > h1{
    margin-top: 5px;
    font-style: oblique;
}

#serviços{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    flex-wrap: wrap;
    font-family: Amnestiadistressed ;
    

    
   
}

#serviços > div{
    
   
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
   
 
    
}

#serviços  img{
   width: 45px;

}

.icones{
    width: 50px;
    height: 50px;
    background-color: #A64B4B;
    border-radius: 50px; 
    padding: 20px;
    margin-bottom: 15px;
    

}

#serviços div:hover .icones{
    background-color: var(--cor2);
}
                                            /*
                                            #profissionais{
                                                width: 50px;
                                            }

                                            #barbeiros{
                                                width: 50px;
                                            }
                                            */
footer{
    background-color: black;
    height: 35px;
    
}


@media (max-width: 830px) {
    nav{
        display: none;
        flex-direction: column;
        position: absolute;
        /*width: 90%;*/
        top: 100%;
        right: 0;
        
      
        
        
    }

    nav > a{
        width: 140px;
        height: 65px;
        background-color: var(--cor2);
        
    }

    label[for='botao-menu']{
        display: block;

    }
   

    #botao-menu:checked ~ nav{
        display: block;
    }    
}

    /*positio:

    static
    relative
    absolut
    fixed

*/

.escuro{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.355);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#figure{
    margin: auto;
    height:   300px;
    background-image: url("imagem/pexels-barikive-5282408.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    font-family: Amnestiadistressed;
    
}

#figure{
    font-size: 45px;
}

.figura1{
    border-bottom: 1px solid white;
    text-transform: uppercase;
    font-size: 35px;
    text-align: left;
    width: auto;
    padding: 10px;
    
   
    
}

.figura2{
    text-transform: uppercase;
    font-size: 55px;  
    text-align: center;  
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;

}
.figura3{
    border-top: 1px solid white;

    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    width: auto;
    padding: 10px;

}

